/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #555;
    margin: 0;
    background-color: #f8f8f8;
    box-sizing: border-box;
}
/* Apply the glow animation to all section headings */
h2, h3, h4, h5, h6 {
    font-size: 2rem; /* Adjust the size as needed */
    margin: 5px 0; /* Adjust the margin to make it more compact */
    color: #fe2663;
    position: relative;
    display: inline-block; /* Ensure the border only covers the text width */
}

h2::after, h3::after, h4::after, h5::after, h6::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust the border height as needed */
    background-color: #fe2663;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

h2:hover::after, h3:hover::after, h4:hover::after, h5:hover::after, h6:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 999; /* Place it above other elements */
    display: none; /* Initially hidden */
}


/* Header Styles */
.hero {
    position: relative;
    background-image: url("images/head\ shot.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    padding-top: 60px; /* Adjust the top padding to create space */
    margin-top: 20px; /* Add margin to create space between nav and hero */
}


/* Semi-transparent overlay */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 0;
}

.hero__content {
    color: white;
    z-index: 1;
    max-width: 80%;
    margin: 0 auto;
}

/* Glowing Animation for Name */
.hero__content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fe2663;
    position: relative;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        color: #fe2663;
        text-shadow: 0 0 10px rgba(254, 38, 99, 0.8), 0 0 20px rgba(254, 38, 99, 0.8);
        transform: scale(1);
    }
    to {
        color: #0de8fe;
        text-shadow: 0 0 20px rgba(13, 232, 254, 0.8), 0 0 40px rgba(13, 232, 254, 0.8);
        transform: scale(1.3);
    }
}

/* Typewriter Animation */
.hero__content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #eee;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #fff;
    padding-right: 8px;
    animation: typewriterAnimation 3s steps(30) infinite;
}

/* Other styles... */


@keyframes typewriterAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}





.hero__content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #ccc;
}

.button {
    background-color: #3eb265;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.button:hover {
    background-color: #095122;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* Add to your existing CSS styles */
/* Skills Section Styles */
.skills__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills__list li {
    text-align: center;
    margin: 10px;
    max-width: 150px; /* Adjust the width as needed */
}

/* Additional styles for the new skills */
/* Add to your existing CSS styles */
.skill-icon {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    fill: #fe2663; /* Adjust the icon color */
    margin-bottom: 10px;
}

/* Adjust the following styles based on your preferences */
.skill-name {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555; /* Adjust the text color */
}

.skill-level {
    color: #777; /* Adjust the text color */
}

/* Projects Section Styles */
.projects__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
}

.project__image-container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.project__image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    filter: brightness(90%) saturate(100%) grayscale(20%);
}

.project__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-decoration: none;
    color: white;
    background-color: #3eb265;
    padding: 8px 16px;
    border-radius: 5px;
}

.project__image-container:hover .project__image {
    transform: scale(1.05);
}

.project__image-container:hover .project__link {
    opacity: 1;
}

.project__details {
    margin-top: 10px;
}

/* ... Other existing styles ... */

/* About Section Styles */
.about {
    padding: 25px; /* Adjust the padding as needed */
    text-align: center;
}

.about__content {
    max-width: 60%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    filter: brightness(90%) saturate(100%) grayscale(20%);
}

.about:hover img {
    transform: scale(1.05);
}

.about p {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: #555;
    text-align: center; /* Adjust the text alignment as needed */
}



/* Blog Section Styles */
.blog {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 80%; /* Adjust the maximum width for a smaller content area */
    margin: 0 auto;
}
.blog-post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.blog-post .read-more {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3eb265;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.blog-post .read-more:hover {
    background-color: #095122;
}
.blog-post .metadata {
    color: #777;
    font-size: 0.9rem;
}
@media (max-width: 768px) {
    .blog-post {
        width: 100%;
    }
}

/* Contact Section Styles */
.contact {
    padding: 50px 0;
    text-align: center;
}

/* Form Styles */
form {
    max-width: 60%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3eb265;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

button:hover {
    background-color: #095122;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Confirmation Message Styles */
.confirmation-message {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background-color: #3eb265;
    color: white;
    border-radius: 5px;
}

/* Contact Information Styles */
.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
    color: #555;
}

.contact-info a {
    color: #3eb265;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

.contact-info a:hover {
    color: #095122;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

.footer__content {
    max-width: 80%;
    margin: 0 auto;
}

.footer__content a {
    color: #3eb265;
    text-decoration: none;
    font-weight: bold;
}

.footer__content a:hover {
    text-decoration: underline;
}
/* Add to your existing CSS styles */

/* Back-to-Top Button Styles */
#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3eb265;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 75px; /* Adjust the size of the button */
}

.logo {
    width: 15px; /* Adjust the size of your logo */
    height: auto;
    margin-right: 5px; /* Adjust the spacing between logo and text */
}

/* Fixed position for the button */
@media (max-width: 768px) {
    #back-to-top-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #3eb265;
        color: white;
        padding: 10px;
        border-radius: 5px;
        display: none;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 50px; /* Adjust the size of the button */
    }
}

